logicapp/LogicApp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "azureblob_1_Connection_Name": {
      "type": "string",
      "defaultValue": "azureblob-1"
    },
    "azureblob_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "videocogsearch"
    },
    "azureblob_1_accountName": {
      "type": "string",
      "metadata": {
        "description": "Name of the storage account the connector should use."
      },
      "defaultValue": "videocogsearch"
    },
    "azureblob_1_accessKey": {
      "type": "securestring",
      "metadata": {
        "description": "Specify a valid primary/secondary storage account access key."
      }
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "create-empty-mediaasset": {
              "type": "Function",
              "inputs": {
                "body": {
                  "FileName": "@{triggerBody()?['Path']}"
                },
                "function": {
                  "id": "/subscriptions/87c7c7f9-0c9f-47d1-a856-1305a0cbfd7a/resourceGroups/RG-amstt-poc/providers/Microsoft.Web/sites/videocogsearch/functions/create-empty-mediaasset"
                }
              },
              "runAfter": {}
            },
            "import-mediaasset-singleblob": {
              "type": "Function",
              "inputs": {
                "body": {
                  "DestinationContainer": "@{body('create-empty-mediaasset')['DestinationContainer']}",
                  "FileName": "@{triggerBody()?['Path']}"
                },
                "function": {
                  "id": "/subscriptions/87c7c7f9-0c9f-47d1-a856-1305a0cbfd7a/resourceGroups/RG-amstt-poc/providers/Microsoft.Web/sites/videocogsearch/functions/import-mediaasset-singleblob"
                }
              },
              "runAfter": {
                "create-empty-mediaasset": [
                  "Succeeded"
                ]
              }
            },
            "Until_CopyBlob_Done": {
              "type": "Until",
              "expression": "@equals(body('monitor-copy-blob')['CopyStatus'], 2)",
              "limit": {
                "count": 60,
                "timeout": "PT1H"
              },
              "actions": {
                "monitor-copy-blob": {
                  "type": "Function",
                  "inputs": {
                    "body": {
                      "DestinationContainer": "@{body('create-empty-mediaasset')['DestinationContainer']}"
                    },
                    "function": {
                      "id": "/subscriptions/87c7c7f9-0c9f-47d1-a856-1305a0cbfd7a/resourceGroups/RG-amstt-poc/providers/Microsoft.Web/sites/videocogsearch/functions/monitor-copy-blob"
                    }
                  },
                  "runAfter": {}
                }
              },
              "runAfter": {
                "import-mediaasset-singleblob": [
                  "Succeeded"
                ]
              }
            },
            "add-file-to-mediaasset": {
              "type": "Function",
              "inputs": {
                "body": {
                  "AssetId": "@{body('create-empty-mediaasset')['AssetId']}",
                  "CopyFileName": "@{body('import-mediaasset-singleblob')['CopyFileName']}"
                },
                "function": {
                  "id": "/subscriptions/87c7c7f9-0c9f-47d1-a856-1305a0cbfd7a/resourceGroups/RG-amstt-poc/providers/Microsoft.Web/sites/videocogsearch/functions/add-file-to-mediaasset"
                }
              },
              "runAfter": {
                "Until_CopyBlob_Done": [
                  "Succeeded"
                ]
              }
            },
            "submit-media-job": {
              "type": "Function",
              "inputs": {
                "body": {
                  "AssetId": "@{body('create-empty-mediaasset')['AssetId']}",
                  "Tasks": [
                    "Media Encoder Standard",
                    "Azure Media Indexer 2 Preview"
                  ]
                },
                "function": {
                  "id": "/subscriptions/87c7c7f9-0c9f-47d1-a856-1305a0cbfd7a/resourceGroups/RG-amstt-poc/providers/Microsoft.Web/sites/videocogsearch/functions/submit-media-job"
                }
              },
              "runAfter": {
                "add-file-to-mediaasset": [
                  "Succeeded"
                ]
              }
            },
            "Until_Media_Job_done": {
              "type": "Until",
              "expression": "@greater(body('monitor-media-job')['JobState'], 2)",
              "limit": {
                "count": 60,
                "timeout": "PT1H"
              },
              "actions": {
                "monitor-media-job": {
                  "type": "Function",
                  "inputs": {
                    "body": {
                      "JobId": "@{body('submit-media-job')['JobId']}"
                    },
                    "function": {
                      "id": "/subscriptions/87c7c7f9-0c9f-47d1-a856-1305a0cbfd7a/resourceGroups/RG-amstt-poc/providers/Microsoft.Web/sites/videocogsearch/functions/monitor-media-job"
                    }
                  },
                  "runAfter": {}
                }
              },
              "runAfter": {
                "submit-media-job": [
                  "Succeeded"
                ]
              }
            },
            "HTTP_Webhook": {
              "type": "HttpWebhook",
              "inputs": {
                "subscribe": {
                  "method": "POST",
                  "uri": "https://videocogsearch.azurewebsites.net/api/http-to-translator-queue?code=zwQ6aDsDvNvE/XDZheXuaZ7LMhTgJ1UT/bExSqXQMDSsKr9fXa/JZQ==",
                  "body": {
                    "Azure Media Indexer 2 Preview": "@body('submit-media-job')['Azure Media Indexer 2 Preview']",
                    "CallbackUrl": "@listCallbackUrl()",
                    "SourceLanguage": "en",
                    "TranslatedLanguages": [
                      "ja"
                    ]
                  }
                },
                "unsubscribe": {}
              },
              "runAfter": {
                "Until_Media_Job_done": [
                  "Succeeded"
                ]
              },
              "limit": {
                "timeout": "PT15M"
              }
            },
            "publish-assets": {
              "type": "Function",
              "inputs": {
                "body": {
                  "AssetIds": "@body('submit-media-job')['AssetIds']"
                },
                "function": {
                  "id": "/subscriptions/87c7c7f9-0c9f-47d1-a856-1305a0cbfd7a/resourceGroups/RG-amstt-poc/providers/Microsoft.Web/sites/videocogsearch/functions/publish-assets"
                }
              },
              "runAfter": {
                "HTTP_Webhook": [
                  "Succeeded"
                ]
              }
            },
            "add-key-phrases": {
              "type": "Function",
              "inputs": {
                "body": {
                  "ContentId": "@body('publish-assets')['ContentId']"
                },
                "function": {
                  "id": "/subscriptions/87c7c7f9-0c9f-47d1-a856-1305a0cbfd7a/resourceGroups/RG-amstt-poc/providers/Microsoft.Web/sites/videocogsearch/functions/add-key-phrases"
                }
              },
              "runAfter": {
                "publish-assets": [
                  "Succeeded"
                ]
              }
            },
            "feed-webvtt-caption-search": {
              "type": "Function",
              "inputs": {
                "body": {
                  "ContentId": "@body('publish-assets')['ContentId']"
                },
                "function": {
                  "id": "/subscriptions/87c7c7f9-0c9f-47d1-a856-1305a0cbfd7a/resourceGroups/RG-amstt-poc/providers/Microsoft.Web/sites/videocogsearch/functions/feed-webvtt-caption-search"
                }
              },
              "runAfter": {
                "publish-assets": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "When_a_blob_is_added_or_modified_(properties_only)": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azureblob_1']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/datasets/default/triggers/batch/onupdatedfile",
                "queries": {
                  "folderId": "JTJmdXBsb2Fkcw==",
                  "maxFileCount": 10
                }
              },
              "recurrence": {
                "frequency": "Second",
                "interval": 15
              },
              "metadata": {
                "JTJmdXBsb2Fkcw==": "/uploads"
              },
              "splitOn": "@triggerBody()"
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azureblob_1": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'azureblob')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('azureblob_1_Connection_Name'))]",
                "connectionName": "[parameters('azureblob_1_Connection_Name')]"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('azureblob_1_Connection_Name'))]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('azureblob_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'azureblob')]"
        },
        "displayName": "[parameters('azureblob_1_Connection_DisplayName')]",
        "parameterValues": {
          "accountName": "[parameters('azureblob_1_accountName')]",
          "accessKey": "[parameters('azureblob_1_accessKey')]"
        }
      }
    }
  ],
  "outputs": {}
}